.sc-menu__container {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #1867C0;
}

.sc-menu__logo {
    height: 45px;
}

.sc-menu__links {
    display: flex;
    align-items: center;
    gap: 24px;

    a, span {
        color: white;
    }
}
