h1  {
    margin-bottom: 32px;
}

.connexion-form {
        width: 700px;
        padding: 32px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

.connexioncontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

.error, .sc-form-connexion__message {
    margin-bottom: 16px;
}

.actions-link {
    text-align: right;
}

.link-create-account {
    margin-left: 32px;
}