.sc-form-registration__form {
    width: 700px;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sc-form-registration__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sc-form-registration__actions {
    text-align: right;
}

.sc-form-registration__message {
    margin-bottom: 16px;
}